# Data cleansing

In [25]:
# Import of libraries

import pandas as pd
import numpy as np

In [13]:
# Import and display of the CSV

st = pd.read_csv('../data/streaming_viewership_data.csv')
st.head()

,User_ID,Session_ID,Device_ID,Video_ID,Duration_Watched (minutes),Genre,Country,Age,Gender,Subscription_Status,Ratings,Languages,Device_Type,Location,Playback_Quality,Interaction_Events
0,eb4f9229-74df-45f6-baac-cf19241b8b30,cb2142a7-0750-49ed-b8ac-a975fe1ff69a,232,11,90.044525,Sci-Fi,Sudan,56,Female,Premium,3,Spanish,Smartphone,Reedshire,4K,73
1,661d4b59-4328-410a-901c-1e3b4c40c334,3bc0a662-b353-4015-8b0c-55ceb510d13a,549,85,68.973479,Comedy,Cuba,52,Male,Premium,3,Chinese,Desktop,Stevenhaven,SD,22
2,dd3fe9e9-ea82-4891-ab93-8a47c80e3251,bd545b4a-9f54-4e87-b9f8-15ae20b44f22,844,50,42.511343,Comedy,Japan,14,Female,Premium,3,Spanish,Tablet,Vaughntown,HD,41
3,a1b3365b-1d00-4ddf-bc43-02fc9c10c680,0441086d-c59e-478d-a496-5c5b995ecfdb,201,38,53.316660,Documentary,Lao People's Democratic Republic,36,Male,Premium,2,Spanish,Laptop,East Raymondbury,SD,40
4,338d3f91-5f1c-4590-8803-324901826406,0295f01d-7f15-4799-856c-90c688697ef8,700,31,69.437786,Action,Bangladesh,31,Male,Premium,4,German,Laptop,Michaelchester,HD,41

In [15]:
# Info of the data frame

st.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6214 entries, 0 to 6213
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User_ID                     6214 non-null   object
 1   Session_ID                  6214 non-null   object
 2   Device_ID                   6214 non-null   int64
 3   Video_ID                    6214 non-null   int64
 4   Duration_Watched (minutes)  6214 non-null   float64
 5   Genre                       6214 non-null   object
 6   Country                     6214 non-null   object
 7   Age                         6214 non-null   int64
 8   Gender                      6214 non-null   object
 9   Subscription_Status         6214 non-null   object
 10  Ratings                     6214 non-null   int64
 11  Languages                   6214 non-null   object
 12  Device_Type                 6214 non-null   object
 13  Location                    6214 non-null   object
 14  Playback_Quality            6214 non-null   object
 15  Interaction_Events          6214 non-null   int64
dtypes: float64(1), int64(5), object(10)
memory usage: 776.9+ KB

In [22]:
# Checking the range of ages

unique = st['Age'].unique()
unique.sort()
unique

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
       61, 62, 63, 64, 65, 66, 67, 68, 69, 70])

In [29]:
# Adding a new column to divide age into ranges

conditions = [
    (st['Age'] >= 10) & (st['Age'] < 30),
    (st['Age'] >= 30) & (st['Age'] < 50),
    (st['Age'] >= 50) & (st['Age'] <= 70)]

values = ['young', 'middle_age', 'senior']

st['Age_Range'] = np.select(conditions, values)

In [30]:
# Checking the results

st.head()

,User_ID,Session_ID,Device_ID,Video_ID,Duration_Watched (minutes),Genre,Country,Age,Gender,Subscription_Status,Ratings,Languages,Device_Type,Location,Playback_Quality,Interaction_Events,Age_Range
0,eb4f9229-74df-45f6-baac-cf19241b8b30,cb2142a7-0750-49ed-b8ac-a975fe1ff69a,232,11,90.044525,Sci-Fi,Sudan,56,Female,Premium,3,Spanish,Smartphone,Reedshire,4K,73,senior
1,661d4b59-4328-410a-901c-1e3b4c40c334,3bc0a662-b353-4015-8b0c-55ceb510d13a,549,85,68.973479,Comedy,Cuba,52,Male,Premium,3,Chinese,Desktop,Stevenhaven,SD,22,senior
2,dd3fe9e9-ea82-4891-ab93-8a47c80e3251,bd545b4a-9f54-4e87-b9f8-15ae20b44f22,844,50,42.511343,Comedy,Japan,14,Female,Premium,3,Spanish,Tablet,Vaughntown,HD,41,young
3,a1b3365b-1d00-4ddf-bc43-02fc9c10c680,0441086d-c59e-478d-a496-5c5b995ecfdb,201,38,53.316660,Documentary,Lao People's Democratic Republic,36,Male,Premium,2,Spanish,Laptop,East Raymondbury,SD,40,middle_age
4,338d3f91-5f1c-4590-8803-324901826406,0295f01d-7f15-4799-856c-90c688697ef8,700,31,69.437786,Action,Bangladesh,31,Male,Premium,4,German,Laptop,Michaelchester,HD,41,middle_age

In [31]:
# Export of the data frame 

st.to_csv('streaming_viewership.csv', index = False)